<template>
    <div>
        <md-layout md-gutter>
            <md-layout
                    md-flex-xsmall="100"
                    md-flex-small="50"
                    md-flex-medium="33"
                    style="padding: 1rem"
                    v-for="video in [1,2,3,4]"
                    :key="video"
            >
                <md-card>
                    <md-card-area md-inset>
                        <md-card-media md-ratio="16:9">
                            <img src="http://lorempixel.com/400/400/" alt="Coffee House">
                        </md-card-media>

                        <md-card-header>
                            <h2 class="md-title">Coffee House</h2>
                            <div class="md-subhead">
                                <md-icon>location_on</md-icon>
                                <span>2 miles</span>
                            </div>
                        </md-card-header>

                        <md-card-content>
                            Illy Coffee served with a complimentary Leonidas Belgian Chocolate with all beverages.
                        </md-card-content>
                    </md-card-area>

                    <md-card-content>
                        <h3 class="md-subheading">Today's availability</h3>
                        <div class="card-reservation">
                            <md-icon>access_time</md-icon>
                            <md-button-toggle md-single class="md-button-group">
                                <md-button>5:30PM</md-button>
                                <md-button>7:30PM</md-button>
                                <md-button>9:00PM</md-button>
                            </md-button-toggle>
                        </div>
                    </md-card-content>

                    <md-card-actions>
                        <md-button class="md-primary">Reserve</md-button>
                    </md-card-actions>
                </md-card>
            </md-layout>
        </md-layout>
    </div>
</template>